{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
@template block_su_agent_moodle/content

Template for SU Agent Moodle block content

@package     block_su_agent_moodle
@copyright   2018 Sorbonne Université
@copyright   2024 Victor Da Silva Caseiro <victor.da_silva_caseiro@sorbonne-universite.fr>
@copyright   2024 Thomas Naudin <thomas.naudin@sorbonne-universite.fr>
@license     http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
<div id="compagnon" class="su-agent-container">
    <div id="serverlabel" class="server-label">
        <span>{{#str}}server, block_su_agent_moodle{{/str}} : <strong>{{ipserveur}}</strong></span>
    </div>
    <div id="identificationlabel" class="identification-label">
        <span>{{#str}}identification, block_su_agent_moodle{{/str}} : <strong>{{username}}</strong></span>
    </div>
    <div id="ipaddresslabel" class="ipaddress-label">
        <span>{{#str}}ipaddress, block_su_agent_moodle{{/str}} : <strong>{{ipclient}}</strong></span>
    </div>
    <div id="configurationlabel" class="configuration-label">
        <span>{{#str}}configuration, block_su_agent_moodle{{/str}} : <i>{{systemnavigator}}</i></span>
    </div>
    <div id="datelabel" class="date-label">
        <span>{{#str}}date, block_su_agent_moodle{{/str}} : <strong>{{daytime}}</strong></span>
    </div>
    <div id="infoslabel" class="infos-label">
        {{#mailactive}}
            <textarea id="msg" name="msg" class="form-control su-agent-message"></textarea>
            <div>
                <button type="button" id="msgbtn" class="btn btn-primary mt-1 su-agent-send">
                    {{#str}}msgbtn, block_su_agent_moodle{{/str}}
                </button>
            </div>
        {{/mailactive}}
        {{^mailactive}}
            <a href="#" id="infos" class="su-agent-copy">{{#str}}copydatamsg, block_su_agent_moodle{{/str}}</a>
        {{/mailactive}}
    </div>
</div>
